<!-- START DIALOG O MODAL -->

<ng-template #content>
  <form [formGroup]="myForm" (ngSubmit)="guardar(myForm)">

    <h1 mat-dialog-title>Propietario</h1>

    <div class="propietario">
      <mat-form-field appearance="outline">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select formControlName="tipo_doc">
          <mat-option value="Cédula de ciudadanía">Cédula de ciudadanía</mat-option>
          <mat-option value="Cédula de extranjería">Cédula de extranjería</mat-option>
          <mat-option value="Pasaporte">Pasaporte</mat-option>
          <mat-option value="Salvoconducto Permanencia de Refugiados">Salvoconducto Permanencia de
            Refugiados</mat-option>
          <mat-option value="Permiso Especial de Permanencia">Permiso Especial de Permanencia</mat-option>
          <mat-option value="Permiso por Protección Temporal">Permiso por Protección Temporal</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" cdkFocusInitial>
        <mat-label>N&uacute;mero del Documento</mat-label>
        <input matInput formControlName="documento">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre Completo</mat-label>
        <input class="mayus" matInput formControlName="nombre_propietario">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Direccion</mat-label>
        <input matInput formControlName="direccion">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input matInput formControlName="telefono">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Seleccione Ciudad</mat-label>
        <mat-select formControlName="ciudad">
          <mat-option *ngFor="let i of datosCiudad" [value]="i.nmid">
            {{i.nombre_ciudad}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-dialog-actions class="footer-dialog">
        <button [disabled]="myForm.invalid" title="Guardar y agregar" type="submit" class="save" (click)="refresh()">
          <mat-icon class="icon-button">save add</mat-icon>
        </button>
        <button [disabled]="myForm.invalid" class="save-exit" title="Guardar y salir">
          <mat-icon class="icon-button">save subdirectory_arrow_right</mat-icon>
        </button>
        <button mat-dialog-close class="close">Cancelar</button>
      </mat-dialog-actions>

    </div>

  </form>
</ng-template>
<!--END DIALOG O MODAL-->



<!-- START VIEW PRINCIPAL -->
<h3>Propietario</h3>

<div class="content-button-search-new">
  <input id="filter" type="text" placeholder='Buscar...' [(ngModel)]="filterPost" name="filterPosts">
  <button mat-raised-button color="primary" (click)="open(content)">
    Nuevo<mat-icon class="material-icons icon-add">add_circle</mat-icon>
  </button>
</div>

<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="datosPropietario" class="custom-table">

      <!--Id Column-->
      <ng-container matColumnDef="nmid">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.nmid}} </td>
      </ng-container>

      <!-- Tipo de Documento Column -->
      <ng-container matColumnDef="tipo_doc">
        <th mat-header-cell *matHeaderCellDef> Tipo de documento </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo_doc}} </td>
      </ng-container>

      <!-- Documento Column -->
      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef> Documento</th>
        <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
      </ng-container>

      <!-- Nombre Completo Column -->
      <ng-container matColumnDef="nombre_propietario">
        <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_propietario}} </td>
      </ng-container>

      <!-- Direccion Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef> Direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
      </ng-container>

      <!-- Telefono Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <!-- Telefono Column -->
      <ng-container matColumnDef="nombre_ciudad">
        <th mat-header-cell *matHeaderCellDef> Ciudad </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_ciudad}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editar(element)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="eliminara(element.nmid)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>
<!-- END VIEW PRINCIPAL -->