@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*, ::after, ::before {
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
    font-family: "Inter", sans-serif !important;
    mat-typography, mat-typography h3 {
        font-family: "Inter", sans-serif !important;
    }
}
